@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);



@layer base {
    body {
        font-family: 'Quicksand', sans-serif;
        @apply text-slate-800 bg-zinc-50 text-lg;
    }
}

@layer utilities {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Shippori Mincho', serif;
    }

    h1 {
        @apply text-6xl font-bold leading-20;
    }

    h2 {
        @apply text-4xl font-bold leading-14;
    }

    h3 {
        @apply text-3xl font-bold leading-10;
    }
}

@layer components {
    section {
        @apply mx-auto w-full;
    }
}

@keyframes glowing {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: oklch(.702 .183 293.541);
    }

    /* Blue glow */
    100% {
        border-color: transparent;
    }
}

.animate-glow {
    animation: glowing 2s infinite;
}