@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


:root {
    --primary: #88D5BF;
    --secondary: #5D6BF8;
    --third: #e27fcb;
}

@layer base {
    body {
        font-family: 'Quicksand', sans-serif;
        @apply text-zinc-900 bg-zinc-50 text-lg;
    }
}

@layer utilities {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Shippori Mincho', serif;
    }

    h1 {
        @apply text-3xl lg:text-6xl font-bold leading-20 text-center;
    }

    h2 {
        @apply text-2xl lg:text-4xl font-bold leading-14;
    }

    h3 {
        @apply text-xl lg:text-3xl font-bold leading-10;
    }
}

@layer components {
    section {
        @apply mx-auto w-full;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(10)
    }

    100% {
        transform: rotate(-360deg) scale(10)
    }

}

.animate-rotate {
    animation: rotate 10s linear infinite;
}

.animate-glow {
    animation: glowing 2s infinite;
}

/* modal popup styles */
.image-modal-popup {
    animation: 500ms fadeIn;
    background: rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}