---
import { loadQuery } from "../../sanity/lib/load-query"; // Adjust path based on your project structure
import { eventsPageQuery } from "../../sanity/lib/queries"; // Adjust path based on your project structure
import Layout from "../layouts/Layout.astro";
import TitleBottomBorder from "../assets/title-bottom-border.astro";
import TitleTopBorder from "../assets/title-top-border.astro";

type EventsProps = {
  title: string;
  description: string;
  events: {
    title: string;
    eventDate: string;
    location: string;
    ticketUrl: string;
    slug: string;
    djposter: string;
    classposter: string;
    classpostercaption: string;
  }[];
};

export const { data: eventsData } = await loadQuery<EventsProps>({
  query: eventsPageQuery,
});

export const sortedEvents = eventsData.events.sort((a, b) => {
  return new Date(b.eventDate).getTime() - new Date(a.eventDate).getTime();
});
---

<Layout>
  <section class="bg-[url(../assets/background-main.svg)] bg-teal-800">
    {
      eventsData && (
        <div class="container pb-20 lg:pb-20 flex flex-col items-center mx-auto lg:min-h-screen">
          <div class="bg-zinc-100/30 p-4 m-4 md:m-8 md:p-8 w-auto lg:w-4xl">
            <div class="w-[70%] md:w-[50%] mx-auto">
              <TitleTopBorder />
            </div>
            <h1 class="p-4">{eventsData.title && eventsData.title}</h1>
            <p class="mb-4 lg:mb-8 text-center">
              {eventsData.description && eventsData.description}
            </p>
            <div class="w-[70%] md:w-[50%] mx-auto">
              <TitleBottomBorder />
            </div>
          </div>
          <ul class="flex flex-wrap gap-8 justify-center p-8">
            {sortedEvents &&
              sortedEvents.map((event) => {
                return (
                  event.djposter && (
                    <li class="w-full lg:w-96">
                      <img src={event.djposter} alt={event.title} />
                    </li>
                  )
                );
              })}
          </ul>
        </div>
      )
    }
  </section>
</Layout>
