---
import { loadQuery } from "../../sanity/lib/load-query"; // Adjust path based on your project structure
import { eventsPageQuery } from "../../sanity/lib/queries"; // Adjust path based on your project structure
import Layout from "../layouts/Layout.astro";

type EventsProps = {
  title: string;
  events: {
    image: string;
    title: string;
  }[];
};

const { data } = await loadQuery<EventsProps>({
  query: eventsPageQuery,
});
---

<Layout>
  <section class="lg:h-screen">
    <div class="container px-8 mx-auto mb-20">
      <h1 class="p-8 lg:m-8">{data.title && data.title}</h1>
      <ul class="flex flex-wrap gap-8 justify-center">
        {
          data.events.map((event) => (
            <li class="w-full lg:w-96">
              {event.image && <img src={event.image} alt={event.title} />}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
