---
import { loadQuery } from "../../sanity/lib/load-query"; // Adjust path based on your project structure
import { eventsPageQuery } from "../../sanity/lib/queries"; // Adjust path based on your project structure
import Layout from "../layouts/Layout.astro";

const { data } = await loadQuery<(typeof eventsPageQuery)[]>({
  query: eventsPageQuery,
});
---

<Layout>
  <section class="h-screen">
    <h1 class="m-8 p-8 text-center">{data.title && data.title}</h1>
    <ul class="flex flex-wrap gap-4 justify-center">
      {
        data.events.map((event) => (
          <li class="w-full lg:w-96">
            {event.image && <img src={event.image} alt={event.title} />}
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
