---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout>
  <Navigation />
  <section>
    <h1 class="m-8 p-8 text-center">Venue</h1>
    <p class="m-8 p-8 text-center">Venue details...</p>
  </section>
</Layout>
