---
import Layout from "../layouts/Layout.astro";
import PortableText from "../components/PortableText.astro";
import { loadQuery } from "../../sanity/lib/load-query";
import { venuePageQuery } from "../../sanity/lib/queries";

type VenuePageProps = {
  title: string;
  images: {
    image: string;
    altText: string;
  }[];
  editor: string;
};

const { data: venue } = await loadQuery<VenuePageProps>({
  query: venuePageQuery,
});
---

<Layout>
  <section class="container mx-auto">
    <div class="p-8">
      <h1 class="m-8 p-8 text-center">{venue.title}</h1>
      <div class="max-w-256 mx-auto">
        <PortableText portableText={venue.editor} />
      </div>
      <ul class="flex flex-wrap gap-8 my-20">
        {
          venue.images.map((item) => (
            <li class="w-full lg:w-176 rounded-lg overflow-hidden shadow-lg">
              <img
                src={item.image}
                alt={item.altText}
                class="w-full h-full object-fill"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
