---
const {
  url = "#",
  variant = "primary",
  size = "md",
} = Astro.props as {
  url?: string;
  variant?: string;
  size?: "sm" | "md" | "lg";
};

const sizes = {
  sm: "px-3 py-1 text-sm",
  md: "px-4 py-2 text-base",
  lg: "px-8 py-3 text-lg",
};
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class={`border-gray-900 border-2 hover:bg-gradient-to-l hover:from-emerald-500 hover:to-sky-400 text-gray-950 mt-4 inline-block rounded-lg transition duration-200 ease-in-out focus:outline-none focus:ring focus:ring-opacity-50 text-center ${sizes[size] || sizes.md}`}
>
  <slot>Reserve a Table <span aria-hidden="true">&rarr;</span></slot>
</a>
